/*  your css code here. If applicable */
body{
	background-color:  #f8f8f8;
	/* text-align:center; */
}

.book-library{
	background-color:  #ffffff;
	/* width:80vw; */
	padding:10px;
	text-align:center;
}

.book{
	margin:20px 0px;

}

.auth{
	color:#777777;
	text-align:left;
	
}

h2{
	text-align:left;
}
h1{
	text-align:center;
}
.cen{
	background-color:rgba(0, 0, 0, 0);
	/* text-align:center; */
	color:#2ecc71;
	padding:10px;
	border-radius:10px;
}




